
{% extends 'base.html' %}

{% block user %}active{% endblock %}

{% block content %}
{% load static %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Profile</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            {% if user.is_superadmin %}
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Full Name</label>
                    <input type="text" class="form-control" value="{{user.mainadmin_set.first.name}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input type="text" class="form-control" value="{{user.mainadmin_set.first.email}}" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Contact</label>
                    <input type="text" class="form-control" value="{{user.mainadmin_set.first.contact_no}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Adress</label>
                    <input type="text" class="form-control" value="{{user.mainadmin_set.first.address}}" disabled>
                  </div>
                </div>
              </div>
              <!-- <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
              <div class="clearfix"></div> -->
            </form>
            {% elif user.is_delivery %}
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Full Name</label>
                    <input type="text" class="form-control" value="{{user.deliveryperson_set.first.name}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input type="text" class="form-control" value="{{user.deliveryperson_set.first.email}}" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Contact</label>
                    <input type="text" class="form-control" value="{{user.deliveryperson_set.first.contact_no}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Adress</label>
                    <input type="text" class="form-control" value="{{user.deliveryperson_set.first.address}}" disabled>
                  </div>
                </div>
              </div>
              <!-- <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
              <div class="clearfix"></div> -->
            </form>
            {% elif user.is_customer %}
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Full Name</label>
                    <input type="text" class="form-control" value="{{user.customer_set.first.name}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input type="text" class="form-control" value="{{user.customer_set.first.email}}" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Contact</label>
                    <input type="text" class="form-control" value="{{user.customer_set.first.contact_no}}" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Id-Proof</label>
                    <input type="text" class="form-control" value="{{user.customer_set.first.id_proof}}" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Customer Id</label>
                    <input type="text" class="form-control" value="{{user.customer_set.first.customer_id}}" disabled>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Adress</label>
                    <input type="text" class="form-control" value="{{user.customer_set.first.address}}" disabled>
                  </div>
                </div>
              </div>
              <!-- <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
              <div class="clearfix"></div> -->
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% if user.is_superadmin %}
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img class="img" src="{{user.mainadmin_set.first.profile_img.url}}" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">ADMIN</h6>
            <h4 class="card-title">{{user.mainadmin_set.first.name}}</h4>
          </div>
        </div>
      </div>
      {% elif user.is_delivery %}
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img class="img" src="{{user.deliveryperson_set.first.profile_img.url}}" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">DELIVERY BOY</h6>
            <h4 class="card-title">{{user.deliveryperson_set.first.name}}</h4>
          </div>
        </div>
      </div>
      {% elif user.is_customer %}
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:;">
              <img class="img" src="{{user.customer_set.first.profile_img.url}}" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">CUSTOMER</h6>
            <h4 class="card-title">{{user.customer_set.first.name}}</h4>
          </div>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
